In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'./data.csv') \

print(df.head)

<bound method NDFrame.head of      Año        Producto  Region  Ventas_Netas
0   2022       Laptop X1   Norte        150000
1   2022   Smartphone P5     Sur         95000
2   2022      Monitor 4K  Centro         60000
3   2023       Laptop X1   Norte        180000
4   2023   Smartphone P5     Sur        110000
5   2023      Monitor 4K  Centro         75000
6   2023       Tablet A3   Norte         35000
7   2024       Laptop X1   Norte        210000
8   2024   Smartphone P5     Sur        130000
9   2024      Monitor 4K  Centro         90000
10  2024       Tablet A3   Norte         50000
11  2024  Auriculares BT     Sur         25000>

In [9]:
df.describe
print(df.info)

<bound method DataFrame.info of      Año        Producto  Region  Ventas_Netas
0   2022       Laptop X1   Norte        150000
1   2022   Smartphone P5     Sur         95000
2   2022      Monitor 4K  Centro         60000
3   2023       Laptop X1   Norte        180000
4   2023   Smartphone P5     Sur        110000
5   2023      Monitor 4K  Centro         75000
6   2023       Tablet A3   Norte         35000
7   2024       Laptop X1   Norte        210000
8   2024   Smartphone P5     Sur        130000
9   2024      Monitor 4K  Centro         90000
10  2024       Tablet A3   Norte         50000
11  2024  Auriculares BT     Sur         25000>

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           12 non-null     int64
 1   Producto      12 non-null     object
 2   Region        12 non-null     object
 3   Ventas_Netas  12 non-null     int64
dtypes: int64(2), object(2)
memory usage: 516.0+ bytes

In [8]:
df.shape

(12, 4)